* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    /* list-style: none; */
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background: #000;
    display: flex;
}

.logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: 800;   
    margin-top: 56px;
    margin-left: 12%; 
}

nav {
    margin-top: 56px;
    margin-left: 30%;
}

.topnav a{
    color: #fff;
    text-align: center;
    padding: 0 16px 12px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.icon {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_welcome {
    background: #000;
    text-align: center;
    padding: 200px 0 420px 0;
    z-index: -1;
}

.main_welcome h1 {
    font-size: 44px;
    text-transform: uppercase;
    color: #999999;
    font-weight: normal;
}

.main_welcome .mycompany {
    color: #fcac45;
    font-weight: bold;
}

.main_welcome p {
    font-size: 20px;
    color: #d4d4d4;
    font-weight: normal;
}

.wrapper {
    width: 76%;
    margin: 0 auto;
}

main .main_about {
    display: flex;
    padding: 100px 0;
}

.right_side {    
    margin-left: 125px;
    font-size: 16px;
}

.right_side h1{    
    font-weight: 100;
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 3px solid #fcac45;
}

.right_side p{    
    padding: 30px 0 35px 0;
    color: #6c6c6c;
}

.right_side ul{
    color: #6c6c6c;
    list-style-image: url("../images/point.png");
    list-style-position: inside;
    line-height: 35px;
}

.main_team, .main_services {
    width: 100%;
    padding: 100px 0 165px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.main_team h1, .main_services h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;   
    display: inline-block;    
}

.line {
    width: 100px;
    margin: 30px auto 100px auto;
    border-top: 3px solid #fcac45;
}

.main_team .wrapper, .main_services .wrapper {
    display: flex;
}

.main_team .card, .main_services .card {
    height: 300px;
    width: 260px;
    text-align: center;
}

.main_team .card img,
.main_services .card img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin-bottom: 30px;
}

.main_team .card .name{
    font-size: 20px;
    font-weight: bold;
}

.main_team .card .post{
    font-size: 16px;
    margin-bottom: 30px;   
}

.main_services {
    background-color: #fff;
}

.main_services h1 {
    font-size: 44px;
    color: black;
}

.main_services .about_services {
    margin: 0 auto;
    width: 1130px;
    color: #6c6c6c;
    font-style: italic;
    margin-bottom: 100px;   
}

.main_services .card {
    color: #000;
}

.main_services .line {
    margin-bottom: 50px;
}

.main_services .card_img {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin-bottom: 27px;
    border-radius: 50%;
    border: 5px solid #fcac45;    
}

.main_services .card .name {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 25px;
}

.main_services .card .about {
    font-size: 14px;
}

 #service_1 {
    background: url(../images/WebDesign.png) center no-repeat;
}

 #service_2 {
    background: url(../images/MobileApps.png) center no-repeat;
}

 #service_3 {
    background: url(../images/Photography.png) center no-repeat;
}

 #service_4 {
    background: url(../images/Marketing.png) center no-repeat;
}

@media screen and (max-width: 1200px) {
    nav{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1105px) {
    nav{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }

    nav{
        width: 100%;
    }

    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }

    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

}